
.variant-checkbox {
    margin-top: 0;
}
.variant-checkbox lable {
    margin-bottom: 0;
    margin-left: 10px;
    font-weight: normal;
}
.variant-body,
.variant-container {
    margin-top: 30px;
}
.attribute-title {
    color: rgb(60, 0, 255);
    font-size: 15px;
}
.niceSelect {
    width: 100% !important;
}
.add-variant {
    height: 42px;
    color: rgb(60, 0, 255);
    border: 1px dashed rgb(60, 0, 255);
    background-color: #fafafa;
    text-align: center;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.variant-item,
.variant-footer {
    margin-top: 25px;
}

